<%- include partials/head.ejs %>
<span class="offline hide">
  De verbinding met de Twitter API is op dit moment niet beschikbaar.
</span>


<section class="container">
  <ul>
    <li><a href="" class="btn uel">#UEL <span class="count-uel">-</span></a></li>
    <li><a href="" class="btn uelfinal">#UELfinal <span class="count-uelfinal">-</span></a></li>
    <li><a href="" class="btn ajaman">#ajaman <span class="count-ajaman">-</span></a></li>
    <li><a href="" class="btn mufc">#mufc <span class="count-mufc">-</span></a></li>
    <li><a href="" class="btn afcajax">#afcajax <span class="count-afcajax">-</span></a></li>
  </ul>

  <section class="tweets">
    <h1 class="hashtag-title"></h1>
    <ul class="tweets-list"></ul>
  </section>
</section>



<%- include partials/footer.ejs %>
