<%- include partials/head.ejs %>

<section>
  <ul>
    <li><a href="" class="btn">#UEL <span class="count-uel">-</span></a></li>
    <li><a href="" class="btn">#UELfinal <span class="count-uelfinal">-</span></a></li>
    <li><a href="" class="btn">#ajaman <span class="count-ajaman">-</span></a></li>
    <li><a href="" class="btn">#mufc <span class="count-mufc">-</span></a></li>
    <li><a href="" class="btn">#afcajax <span class="count-afcajax">-</span></a></li>
  </ul>

  <section>
    
  </section>
</section>



<%- include partials/footer.ejs %>
