<%- include partials/head.ejs %>

<section>
  <a href="" title="">
    <span class="tweet-hashtag"></span>
    <span class="tweet-count"></span>
  </a>
  <!-- <ul class="list-hashtag">
    <% hashtag.forEach(function(el, index) { %>

    <li><span class="tweet-hashtag"><%= hashtag[index].name %></span> <span class="tweet-count"><%= hashtag[index].count %></span></li>

    <% }); %>
  </ul> -->
</section>

<%- include partials/footer.ejs %>
